* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font: 14px/18px "DM Sans", sans-serif;
  background-color: #ece3df;
}

.siteWrapper > * {
  text-align: center;
  min-width: 320px;
}

.header__feature, .exchange__feature, .benefits__feature, .benefits .card, .bitcoinEyes, .plans__feature, .plans .card, .footer__networks {
  display: -ms-grid;
  display: grid;
  gap: 24px;
  padding: 0 16px;
}

.header__title, .exchange__title, .plans__title, .benefits__title, .benefits .card__title, .bitcoinEyes__title {
  font: 24px/26px "DM Sans", sans-serif;
  font-weight: 500;
  color: #ece3df;
}

.header__description, .exchange__description, .plans__description, .benefits__description, .benefits .card__description {
  color: #8f8f8f;
}

.header .button, .plans .card .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  font-weight: 700;
  color: #201e1c;
  padding: 15.31px 19.04px;
  background-color: #ece3df;
  border-radius: 4px;
  margin: 0 auto;
}

.header .button__arrowIcon, .plans .card .button__arrowIcon {
  margin-left: 14px;
}

.header {
  height: 300px;
  background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
}

.header__logoWrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 45px 0 33px;
}

.header__title {
  padding: 0 18px;
}

.header__description {
  color: #ffe9d5;
}

.header .button {
  -webkit-box-shadow: 0 4px 8px rgba(89, 73, 30, 0.25);
          box-shadow: 0 4px 8px rgba(89, 73, 30, 0.25);
  position: relative;
  top: 39.58px;
}

.header .button:hover {
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.exchange {
  padding: 64px 0;
}

.exchange__image, .exchange__feature {
  margin-bottom: 32px;
}

.exchange__title, .plans__title {
  font-weight: 600;
  color: #201e1c;
}

.exchange__description, .plans__description {
  font-weight: 500;
  color: #757575;
}

.exchange__tablesWrapper, .benefits__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.exchange__tablesWrapper > [class*='exchange'], .benefits__cards > [class*='exchange'] {
  padding: 0 40px;
}

.exchange .rates__title, .exchange .commissions__title {
  font: 18px/23px "DM Sans", sans-serif;
  font-weight: 600;
  color: #f7931a;
  margin: 16px 0;
}

.exchange .rates__updated, .exchange .commissions__updated {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font: 12px/15px "Inter", sans-serif;
  padding: 8px;
  background-color: #ffe9d5;
  border-radius: 8px;
  margin: 16px auto;
}

.exchange .rates .table, .exchange .commissions .table {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 110px 110px;
      grid-template-columns: 110px 110px;
  gap: 1.5px;
  font-family: "Inter", sans-serif;
  letter-spacing: -0.28px;
  text-align: left;
  color: #757575;
}

.exchange .rates .table__cell, .exchange .commissions .table__cell {
  padding: 10.8px 12px;
  background-color: #fff;
}

.exchange .rates .table__cell:first-child, .exchange .commissions .table__cell:first-child {
  border-top-left-radius: 8px;
}

.exchange .rates .table__cell:nth-child(2), .exchange .commissions .table__cell:nth-child(2) {
  border-top-right-radius: 8px;
}

.exchange .rates .table__cell:nth-last-child(2), .exchange .commissions .table__cell:nth-last-child(2) {
  border-bottom-left-radius: 8px;
}

.exchange .rates .table__cell:last-child, .exchange .commissions .table__cell:last-child {
  border-bottom-right-radius: 8px;
}

.exchange .rates .table__price, .exchange .commissions .table__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.exchange .commissions__title {
  color: #1a9af7;
}

.exchange .commissions__updated {
  background-color: #e7f5ff;
}

.benefits {
  padding: 64px 0;
  background-color: #201e1c;
}

.benefits__batatabitIcon {
  position: relative;
  top: -76.5px;
}

.benefits__feature {
  padding-bottom: 16px;
}

.benefits__cards {
  max-width: 721.45px;
  padding: 8px;
  margin: 0 auto;
}

.benefits__cardContainer {
  max-width: 336.712px;
  background-color: #2e2c28;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  margin: 8px;
}

.benefits .card {
  gap: 10px;
  text-align: left;
  padding: 14px 20px 22px 16px;
}

.benefits .card__title {
  font-size: 18px;
  line-height: 18px;
}

.bitcoinEyes {
  height: 370px;
  background: center/cover no-repeat url("https://i.postimg.cc/vZbmSDXN/bitcoin-eyes-small.jpg");
  padding: 0;
}

.bitcoinEyes__title {
  font-weight: 600;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  padding: 49px 0 0;
}

.plans {
  padding: 64px 0;
}

.plans__feature {
  margin-bottom: 48px;
}

.plans__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 20px;
  padding: 0 32px 16px;
  overflow-x: auto;
  -ms-scroll-snap-type: x proximity;
      scroll-snap-type: x proximity;
}

.plans__cardContainer {
  color: #201e1c;
  scroll-snap-align: center;
}

.plans__cardContainer--recommended::before {
  content: 'Recomendado';
  font: 12px/15px "Inter", sans-serif;
  font-weight: 500;
  color: #fff;
  padding: 8px;
  background-color: #f7931a;
  border-radius: 8px;
  position: relative;
  top: 6.955px;
}

.plans .card {
  gap: 12px;
  min-width: 190px;
  max-width: 223px;
  padding: 26px 16px;
  background-color: #fff;
  border-radius: 8px;
  -webkit-box-shadow: 0 4px 8px rgba(89, 73, 30, 0.25);
          box-shadow: 0 4px 8px rgba(89, 73, 30, 0.25);
}

.plans .card:hover {
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.plans .card__title {
  font: inherit;
  font-weight: 600;
}

.plans .card__priceSymbol {
  font: 12px/15px "Inter", sans-serif;
  font-weight: 500;
  position: relative;
  top: -23.5px;
}

.plans .card__priceNumber {
  font: 52px/63px "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: -4.16px;
}

.plans .card__description {
  font: 12px/15px "Inter", sans-serif;
  font-weight: 500;
  color: #757575;
  margin-bottom: 4px;
}

.plans .card .button {
  padding: 13.31px 17.04px;
  background-color: #ffe9d5;
  border: 2px solid #f7931a;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ece3df;
  padding: 36px 32px;
  background-color: #2e2c28;
}

.footer__networks {
  gap: 12px;
  padding: 0;
}

.footer__network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: inherit;
}

.footer__networkIcon {
  margin-right: 10px;
}

.footer__brand {
  font-size: 12px;
}

@media screen and (min-width: 600px) {
  .bitcoinEyes__title {
    font-size: 28px;
    line-height: 30px;
  }
  .footer {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 674px) {
  .plans__cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 834px) {
  .bitcoinEyes {
    height: 299px;
    background: center/cover no-repeat url("https://i.postimg.cc/B6kcKfh6/bitcoin-eyes-big.jpg");
  }
  .bitcoinEyes__title {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 32px;
    line-height: 34px;
    padding: 0;
  }
}
