@import ./variables
@import ./resets

// Main blocks
.section
  display: grid
  gap: 24px
  padding: 0 16px

  [class*='title']
    font: 24px/26px $DM
    font-weight: 500
    color: #fff
    padding: 0 18px

  [class*='description']
    color: $lightGrey

.header
  height: 300px
  background: $gradientBg

  &__logoWrapper
    display: inline-flex
    margin: 45px 0 33px

  &__section
    [class*='description']
      color: $softOrange
      padding: 0 18px

.button
  font: inherit
  font-weight: 700
  color: $black
  padding: 15.3px 19.4px
  background-color: $white
  border-radius: 4px
  border: 0
  outline: 0
  box-shadow: 0 4px 8px rgba(89, 73, 30, 0.25)
  position: relative
  top: 15px + (48px / 2)

  &__arrowIcon
    margin-left: 10px

.exchange
  padding: 64px 0

  &__image, &__section
    margin-bottom: 32px

  &__section
    [class*='title']
      font-weight: 600
      color: $black
      padding: 0 12px

    [class*='description']
      font-weight: 500
      color: $grey

  &__tablesWrapper
    display: flex
    flex-wrap: wrap
    justify-content: center

    > [class*='exchange']
      padding: 0 40px

  .rates, .commissions
    &__title
      font: 18px/23px $DM
      font-weight: 600
      color: $bitcoinOrange
      margin: 16px 0

    &__updated
      width: fit-content
      font: 12px/15px $inter
      padding: 8px
      background-color: $softOrange
      border-radius: 8px
      margin: 16px auto

    .table
      display: grid
      grid-template-columns: 110px 110px
      gap: 1.5px
      font-family: $inter
      letter-spacing: -0.28px
      text-align: left

      &__cell
        padding: 10.8px 12px
        background-color: #fff

        &:first-child
          border-top-left-radius: 8px

        &:nth-child(2)
          border-top-right-radius: 8px

        &:nth-last-child(2)
          border-bottom-left-radius: 8px

        &:last-child
          border-bottom-right-radius: 8px

      &__name
        color: $lightGrey

      &__price
        display: flex
        align-items: center
        justify-content: space-around
        color: $grey

  .commissions
    &__title
      color: $secondaryBlue

    &__updated
      background-color: $softBlue

.features
  padding: 64px 0
  background-color: $black

  &__batatabitIcon
    position: relative
    top: -((25px / 2) + 64)

  &__section
    padding-bottom: 16px

  &__cards
    display: flex
    flex-wrap: wrap
    justify-content: center
    max-width: 721.45px
    padding: 8px
    margin: 0 auto

  &__cardContainer
    max-width: 336.712px
    background-color: $warmBlack
    border-radius: 4px
    box-shadow: 0 4px 8px rgba(#000, 0.16)
    margin: 8px

  .card
    gap: 10px
    text-align: left
    padding: 14px 20px 22px 16px

    &__title
      font: 18px/18px $DM
      padding: 0

.bitcoinEyes
  &__section
    height: 370px
    background: center/cover no-repeat url('https://i.postimg.cc/dty92gFZ/bitcoin-eyes-small.jpg')

    [class*='title']
      font-weight: 600
      text-shadow: 0 0 8px rgba(#000, 0.84)
      margin-top: 48.5px

@media screen and ( min-width: 600px )
  .bitcoinEyes__section [class*='title']
    font: 28px/30px $DM
    font-weight: 600

@media screen and ( min-width: 834px )
  .bitcoinEyes
    &__section
      height: 299px
      background: center/cover no-repeat url('https://i.postimg.cc/B6kcKfh6/bitcoin-eyes-big.jpg')

      [class*='title']
        align-self: center
        font: 32px/34px $DM
        font-weight: 600
        margin: 0
