@import 'variables'
@import 'resets'
@import 'blocks'

.header
  height: 300px
  background: $gradientBg

  &__logoWrapper
    display: inline-flex
    margin: 45px 0 33px

  &__feature
    @extend %feature

  &__title
    @extend %feature-title
    padding: 0 18px

  &__description
    @extend %feature-description
    color: $softOrange

  .button
    @extend %button
    box-shadow: $lightShadow
    position: relative
    top: 15.58px + (48px / 2)

    &__arrowIcon
      @extend %button-icon

.exchange
  padding: 64px 0

  &__image, &__feature
    margin-bottom: 32px

  &__feature
    @extend %feature

  &__title
    @extend %feature-title
    font-weight: 600
    color: $black

  &__description
    @extend %feature-description
    font-weight: 500
    color: $grey

  &__tablesWrapper
    display: flex
    flex-wrap: wrap
    justify-content: center

    > [class*='exchange']
      padding: 0 40px

  .rates, .commissions
    &__title
      font: 18px/23px $DM
      font-weight: 600
      color: $bitcoinOrange
      margin: 16px 0

    &__updated
      width: fit-content
      font: 12px/15px $inter
      padding: 8px
      background-color: $softOrange
      border-radius: 8px
      margin: 16px auto

    .table
      display: grid
      grid-template-columns: 110px 110px
      gap: 1.5px
      font-family: $inter
      letter-spacing: -0.28px
      text-align: left
      color: $grey

      &__cell
        padding: 10.8px 12px
        background-color: #fff

        &:first-child
          border-top-left-radius: 8px

        &:nth-child(2)
          border-top-right-radius: 8px

        &:nth-last-child(2)
          border-bottom-left-radius: 8px

        &:last-child
          border-bottom-right-radius: 8px

      &__price
        display: flex
        align-items: center
        justify-content: space-around

  .commissions
    &__title
      color: $secondaryBlue

    &__updated
      background-color: $softBlue

.benefits
  padding: 64px 0
  background-color: $black

  &__batatabitIcon
    position: relative
    top: -((25px / 2) + 64)

  &__feature
    @extend %feature
    padding-bottom: 16px

  &__title
    @extend %feature-title

  &__description
    @extend %feature-description

  &__cards
    @extend .exchange__tablesWrapper
    max-width: 721.45px
    padding: 8px
    margin: 0 auto

  &__cardContainer
    max-width: 336.712px
    background-color: $warmBlack
    border-radius: 4px
    box-shadow: $darkShadow
    margin: 8px

  .card
    @extend %feature
    gap: 10px
    text-align: left
    padding: 14px 20px 22px 16px

    &__title
      @extend %feature-title
      font-size: 18px
      line-height: 18px

    &__description
      @extend %feature-description

.bitcoinEyes
  @extend %feature
  height: 370px
  background: center/cover no-repeat url('https://i.postimg.cc/dty92gFZ/bitcoin-eyes-small.jpg')
  padding: 0

  &__title
    @extend %feature-title
    font-weight: 600
    text-shadow: $darkShadow
    padding: 49px 0 0

.plans
  padding: 64px 0

  &__feature
    @extend %feature
    margin-bottom: 48px

  &__title
    @extend .exchange__title

  &__description
    @extend .exchange__description

  &__cards
    display: flex
    align-items: flex-end
    overflow-x: auto
    overscroll-behavior: contain
    scroll-snap-type: x
    padding: 0 8px 16px

  &__cards > :last-child
    padding-right: 24px

  &__cardContainer
    color: $black
    padding-left: 24px

    &--recommended::before
      content: 'Recomendado'
      font: 12px/15px $inter
      font-weight: 500
      color: #fff
      padding: 8px
      background-color: $bitcoinOrange
      border-radius: 8px
      position: relative
      top: 6.955px

  .card
    @extend %feature
    gap: 12px
    scroll-snap-align: center
    width: 190px
    padding: 26px 16px
    background-color: #fff
    border-radius: 8px
    box-shadow: $lightShadow

    &__title
      font: inherit
      font-weight: 600

    &__priceSymbol
      font: 12px/15px $inter
      font-weight: 500
      position: relative
      top: -23.5px

    &__priceNumber
      font: 52px/63px $inter
      font-weight: 700
      letter-spacing: -4.16px

    &__description
      font: 12px/15px $inter
      font-weight: 500
      color: $grey
      margin-bottom: 4px

    .button
      @extend %button
      padding: 13.31px 17.04px
      border: 2px solid $bitcoinOrange

      &__arrowIcon
        @extend %button-icon

@media screen and ( min-width: 600px )
  .bitcoinEyes__title
    font-size: 28px
    line-height: 30px

@media screen and ( min-width: 682px )
  .plans__cards
    justify-content: center

@media screen and ( min-width: 834px )
  .bitcoinEyes
    height: 299px
    background: center/cover no-repeat url('https://i.postimg.cc/B6kcKfh6/bitcoin-eyes-big.jpg')

    &__title
      align-self: center
      font-size: 32px
      line-height: 34px
      padding: 0
